* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

:root {
    --font-base: "Inter", sans-serif;
    --font-heading: "Poppins", sans-serif;
}

body {
    background: linear-gradient(135deg, #0f0f0f 0%, #0a0a23 30%, #050528 60%, #000000 100%);
    background-size: 200% 200%;
    animation: gradientShift 10s ease infinite;
    font-family: var(--font-base);
}

h1,
h2,
h3 {
    font-family: var(--font-heading);
    line-height: 1.1;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }

}

.scroll {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.fade-in {
    animation: fadein 1s ease-in-out;
}

.limitar-secao {
    max-width: 1200px;
    margin: 0 auto;
}

/* Cabeçalho */
.titulo-principal {
    color: rgb(41, 44, 214);
    max-width: 430px;
    font-size: 36px;
}

.descricao {
    color: rgb(232, 225, 225);
    max-width: 550px;
    text-align: justify;
    font-size: 32px;
    margin-top: 20px;
}

.esquerda {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.direita img {
    width: 450px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 50px;
    height: 450px;
}

.topo {
    display: flex;
    justify-content: space-evenly;
}

/* Principal */
.sobre {
    margin-top: 170px;
}

.sobre h2 {
    color: rgb(41, 44, 214);
    font-size: 57px;
}

.sobre p {
    color: rgb(232, 225, 225);
    text-align: justify;
    font-size: 29px;
    margin-top: 20px;
}

.projetos {
    margin-top: 40px;
}

.projetos h2 {
    color: rgb(41, 44, 214);
    font-size: 55px;
    margin-bottom: 20px;
}

/* Cards */
.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    background-color: rgb(14, 10, 60, 0.08);
    backdrop-filter: blur(14px) saturate(160%);
    -webkit-backdrop-filter: blur(14px) saturate(160%);
    border: 1px solid rgba(27, 35, 97, 0.25);
    border-radius: 15px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    transition: transform 0.1s ease;
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-15px);
    }
}

.card {
    text-decoration: none;
}

.card img {
    width: 100%;
}

.card:hover {
    transform: translateY(10px);
    animation: bounce 1s ease-in-out infinite alternate;
}

.card h3 {
    color: rgb(47, 100, 173);
    font-size: 23px;
    margin-bottom: 10px;
}

.card p {
    color: rgb(159, 155, 155);
    font-size: 18px;
    text-align: justify;
    margin-bottom: 15px;
}

/* Tecnologias */
.tecnologias {
    margin-top: 40px;
}

.tecnologias h2 {
    color: rgb(41, 44, 214);
    font-size: 55px;
    margin-bottom: 30px;
}

.tecnologias-imagens {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tecnologias-imagens img {
    width: 150px;
    height: 150px;
    transition: transform 0.3s ease;
}

.tecnologias-imagens p {
    text-align: center;
    color: #181D60;
    font-size: 22px;
    margin-top: 5px;
}

.tecnologias-imagens img:hover {
    transform: scale(1.1);
}

/* Rodapé */
.rodape {
    margin-top: 80px;
    text-align: center;
}

.contato {
    font-size: 36px;
    color: rgb(41, 44, 214);
    margin-bottom: 20px;
}

.redes-sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
}

.redes-sociais a {
    text-decoration: none;
    font-size: 23px;
    margin-left: 5px;
    color: rgb(47, 100, 173);
    font-family: var(--font-base);
}

.redes-sociais a:hover {
    color: rgb(41, 44, 184);
    transition: color 0.3s ease;
}

.redes-sociais i {
    font-size: 28px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.copyright {
    color: rgb(41, 44, 214);
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}


@media screen and (max-width: 480px) {
    .scroll {
        animation: none;
    }

    .limitar-secao {
        width: 360px;
    }

    .titulo-principal {
        font-size: 14px;
        max-width: 50%;
    }

    .descricao {
        font-size: 11px;
        max-width: 50%;
        margin-top: 6px;
    }

    .esquerda {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .direita img {
        max-width: 100px;
        height: 100px;
        margin-top: 10px;
        position: absolute;
        right: 37px;
        top: 10px;
    }

    .sobre {
        margin-top: 30px;
    }

    .sobre h2 {
        font-size: 17px;
    }

    .sobre p {

        font-size: 11px;
        margin-top: 10px;

    }

    .projetos h2 {
        font-size: 25px;
        text-align: center;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
        margin-bottom: 20px;
    }

    .card h3 {
        font-size: 15px;
    }

    .card p {
        font-size: 9px;
    }

    .card:hover {
        transition: none;
        transform: none;
        animation: none;
    }

    .tecnologias h2 {
        font-size: 25px;
        text-align: center;
    }

    .tecnologias-imagens img {
        width: 40px;
        height: 40px;
    }

    .tecnologias-imagens p {
        font-size: 10px;
        ;
    }

    .tecnologias-imagens img:hover {
        transform: none;
    }

    .tecnologia {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rodape {
        margin-top: 35px;
    }

    .rodape h2 {
        font-size: 22px;
    }

    .redes-sociais a {
        font-size: 12px;
    }

    .redes-sociais a:hover {
        color: rgb(47, 100, 173);
    }

    .redes-sociais i {
        font-size: 18px;
    }

    .copyright p {
        font-size: 12px;
    }

    .copyright {
        margin-bottom: 10px;
    }

    body {
        animation: none;
        background-color: #050528;
        margin: auto;
    }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 1024px) {}

@media screen and (min-width: 1025px) {}